<!DOCTYPE html>
<html>
  <center>
    <head>
      <title>PROMISSION♥/로그인</title>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
      />
      <style>
        button {
          background-color: white;
        }
        button.a {
          background-color: cornflowerblue;
        }
      </style>
    </head>

    <body style="background-color:rgb(194, 241, 255);">
      <h1
        style="text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
      >
        PROMISSION
      </h1>
      <button style="height: 30px; width: 80px;float: right;" class="a">
        회원가입</button
      ><br /><br />
      <h3 style="font-family:monospace;">로그인 LOGIN</h3>
      <br />
      <input style="width: 200px;" placeholder="ID" /><br /><br />
      <input
        style="width: 200px;"
        placeholder="Password"
        type="password"
      /><br /><br />
      <button style="width: 200px; background-color: black; color: white;">
        로그인
      </button>
      <br /><br />
      <button style="width: 200px;">
        비밀번호 찾기
      </button>
    </body>
  </center>
</html>
