<!DOCTYPE html>
<center>
  <html class="no-js" lang="zxx">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>PROMISSION</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <!-- <link rel="manifest" href="site.webmanifest"> -->
      <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
      <!-- Place favicon.ico in the root directory -->

      <!-- CSS here -->
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/owl.carousel.min.css" />
      <link rel="stylesheet" href="css/magnific-popup.css" />
      <link rel="stylesheet" href="css/font-awesome.min.css" />
      <link rel="stylesheet" href="css/themify-icons.css" />
      <link rel="stylesheet" href="css/nice-select.css" />
      <link rel="stylesheet" href="css/flaticon.css" />
      <link rel="stylesheet" href="css/animate.css" />
      <link rel="stylesheet" href="css/slicknav.css" />
      <link rel="stylesheet" href="css/style.css" />
      <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </head>

    <body>
      <!--[if lte IE 9]>
        <p class="browserupgrade">
          You are using an <strong>outdated</strong> browser. Please
          <a href="https://browsehappy.com/">upgrade your browser</a> to improve
          your experience and security.
        </p>
      <![endif]-->

      <!-- header-start -->
      <header>
        <div class="header-area ">
          <div id="sticky-header" class="main-header-area white-bg">
            <div class="container-fluid p-0">
              <div
                class="row align-items-center justify-content-between no-gutters"
              >
                <div class="col-xl-2 col-lg-2">
                  <div class="logo-img">
                    <a href="index.html">
                      <img src="img/logo.png" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                  <div class="main-menu  d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a class="active" href="about.html">About</a></li>
                        <li><a href="searchmission.html">미션지 검색</a></li>
                        <li><a href="missionresult.html">미션 결과</a></li>
                        <li><a href="blockinfo.html">미션 정보</a></li>

                        <li>
                          <a href="#">My Page<i class="ti-angle-down"></i></a>
                          <ul class="submenu">
                            <li><a href="mypage.html">My Page</a></li>
                            <li><a href="missionlist.html">미션 리스트</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                  <div class="get_in_tauch">
                    <a href="login.html" class="boxed-btn" id="login">로그인</a>
                    <a href="register.html" class="boxed-btn" id="register"
                      >회원가입</a
                    >
                  </div>
                </div>
                <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header-end -->

      <!-- breadcam_area_start -->
      <div class="breadcam_area bradcam_bg overlay2">
        <div class="bradcam_text">
          <h3>미션 결과</h3>
        </div>
      </div>
      <br /><br />
      <input
        type="text"
        id="mission_search"
        style="width: 300px;height: 50px;"
        placeholder="BJ 닉네임 검색"
      />
      <button id="nick_search" class="boxed-btn">닉네임 검색</button
      ><br /><br /><br />

      <div class="progress-table-wrap">
        <div class="progress-table">
          <div class="table-head">
            <div class="serial">닉네임</div>
            <div class="country">미션 수락 여부</div>
            <div class="visit">미션 시작 시간</div>
            <div class="percentage">미션 종료 시간</div>
            <div class="result">미션 결과</div>
          </div>
          <div class="table-row">
            <div class="serial">01</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">02</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">03</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">04</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">05</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">06</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">07</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>

          <div class="table-row">
            <div class="serial">08</div>
            <div class="country">a</div>
            <div class="visit">b</div>
            <div class="percentage">c</div>
            <div class="result">d</div>
          </div>
        </div>
      </div>

      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

      <!-- breadcam_area_end -->

      <!-- JS here -->
      <script src="js/vendor/modernizr-3.5.0.min.js"></script>
      <script src="js/vendor/jquery-1.12.4.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/isotope.pkgd.min.js"></script>
      <script src="js/ajax-form.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <script src="js/imagesloaded.pkgd.min.js"></script>
      <script src="js/scrollIt.js"></script>
      <script src="js/jquery.scrollUp.min.js"></script>
      <script src="js/wow.min.js"></script>
      <script src="js/nice-select.min.js"></script>
      <script src="js/jquery.slicknav.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/plugins.js"></script>

      <!--contact js-->
      <script src="js/contact.js"></script>
      <script src="js/jquery.ajaxchimp.min.js"></script>
      <script src="js/jquery.form.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/mail-script.js"></script>

      <script src="js/main.js"></script>
    </body>
  </html>
</center>
