<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <br />
    <br />
    <h1>회원가입</h1>
    <table>
      <tr>
        <th>ID:</th>
        <td>
          <input type="text" id="id" placeholder="ID는 중복되지 않아야 합니다." />
        </td>
        <td><button id="id_check">ID 중복 확인하기</button></td>
      </tr>
      <tr>
        <th>Password:</th>
        <td>
          <input type="password" id="password" placeholder="패스워드를 입력해 주십시오" />
        </td>
        <td></td>
      </tr>
      <tr>
        <th>Re Password:</th>
        <td>
          <input type="password" id="repassword" placeholder="패스워드를 다시 입력해 주십시오" />
        </td>
        <td></td>
      </tr>
      <tr>
        <th>계좌 주소:</th>
        <td>
          <input type="text" id="account" placeholder="메타마스크에 연동된 계좌여야합니다" />
        </td>
        <td></td>
      </tr>
      <tr>
        <th>닉네임:</th>
        <td>
          <input type="text" id="nick" placeholder="닉네임이 중복 되지 않아야 합니다" />
        </td>
        <td><button id="nick_check">닉네임 중복 확인하기</button></td>
      </tr>
      <tr>
        <th>게임 ID:</th>
        <td>
          <input type="text" id="game_id" placeholder="정확하게 입력해주셔야 합니다.dak.gg 기준" />
        </td>
        <td></td>
      </tr>
      <tr>
        <th>이메일:</th>
        <td>
          <input type="text" id="email" placeholder="이메일 형식을 지켜주십시오" />
        </td>
        <td></td>
      </tr>
    </table>

    <input type="button" value="등록" id="register_button" />
    <script src="https://code.jquery.com/jquery-latest.js "></script>
    <script type="module" src="/js/register.js"></script>
  </body>
</html>
