<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script type="text/javascript" src="/js/coinstack-1.1.19.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-latest.js "></script>
    <!-- <script src="jquery-1.7.1.js" type="text/javascript"></script>  -->
    <!-- bootsrtap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script>
        var mysql = require('mysql');

        var con = mysql.createConnection({
            host: "localhost",
            user: "myusername",
            password: "mypassword",
            database: "mydb"
        });

        con.connect(function (err) {
            if (err) throw err;
            console.log("Connected!");
            //Make SQL statement:
            var sql = "INSERT INTO customers (name, address) VALUES ?";
            //Make an array of values:
            var values = [
                ['John', 'Highway 71'],
                ['Peter', 'Lowstreet 4'],
                ['Amy', 'Apple st 652'],
                ['Hannah', 'Mountain 21'],
                ['Michael', 'Valley 345'],
                ['Sandy', 'Ocean blvd 2'],
                ['Betty', 'Green Grass 1'],
                ['Richard', 'Sky st 331'],
                ['Susan', 'One way 98'],
                ['Vicky', 'Yellow Garden 2'],
                ['Ben', 'Park Lane 38'],
                ['William', 'Central st 954'],
                ['Chuck', 'Main Road 989'],
                ['Viola', 'Sideway 1633']
            ];
            //Execute the SQL statement, with the value array:
            con.query(sql, [values], function (err, result) {
                if (err) throw err;
                console.log("Number of records inserted: " + result.affectedRows);
            });
        });


        $(document).ready(function () {

            let DEBUG = 1;
            $('#register_button').on('click', function () {
                let titleval = $("#title1").val();
                let authorval = $("#author1").val();
                let dateval = $("#date1").val();

                $.post("/api/books", {
                    title: titleval,
                    author: authorval,
                    published_date: dateval
                }, function (data) {
                    console.log('register_button : ', data);
                    alert(titleval + authorval + dateval);
                }) // end of post  
            });  // end of newsend

        });
    </script>
</head>

<body>
    <center>
        <br>
        <br>
        <h1>회원가입</h1>
        <table>
            <tr>
                <th>ID:</th>
                <td><input type=text id="id" placeholder="ID는 중복되지 않아야 합니다.""></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type=password id=" password" placeholder="패스워드를 입력해 주십시오"></td>
            </tr>
            <tr>
                <th>Re Password:</th>
                <td><input type=password id="repassword" placeholder="패스워드를 다시 입력해 주십시오"></td>
            </tr>
            <tr>
                <th>닉네임:</th>
                <td><input type=text id="nick" placeholder="닉네임이 중복 되지 않아야 합니다"></td>
            </tr>
            <tr>
                <th>이메일:</th>
                <td><input type=text id="email" placeholder="이메일 형식을 지켜주십시오"></td>
            </tr>

        </table>
        <input type="button" value="등록" id="register_button">

    </center>
</body>

</html>